@model Questionnaires.Web.Models.Choice

@{
    ViewBag.Title = "Create";
}

<h2>Create Choice</h2>

@using (Html.BeginForm(new {Model.QuestionId}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Text)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Text)
        @Html.ValidationMessageFor(model => model.Text)
    </div>

    <p>
        <input type="submit" value="Create" /> |
        @Html.ActionLink("Back to List", "Details", "Question", new {id = Model.QuestionId}, null)
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}